.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around;
  margin-left: 25%;
  margin-right: 25%;
}

.email{
  line-height: 1;
  color: #2f2f2f;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.email>input{
  background-color: rgba(27, 112, 137, 1);
    border: 0; 
    color: #fff;
    width: 400px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
  
}

.password{
  line-height: 1;
  color: #2f2f2f;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.password>input{
  background-color: rgba(27, 112, 137, 1);
    border: 0; 
    color: #fff;
    width: 400px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
  }

.button{
  display: flex;
  
}
.button>button{
  background-color: #2f2d2d;
  width: 100px;
  height: 30px;
  color: #f2f2f2;
  margin-left: 20px;
  border: none;

}
.button>button:hover{
  background-color: #f2f2f2;
  color: #2f2d2d;
  border: none;

}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home>button{
  height: 40px;
  border: none;
  width: 400px;
  background-color: #2c3b6b;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 5px;

}
.home>button:hover{
  background-color: #f2f2f2;
  color: #2f2d2d;
}